In [1]:
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir("Data/Dinesh_Tweets/") if isfile(join("Data/Dinesh_Tweets/", f))]
onlyfiles

['Boston_0055e32e53feff1d.csv.csv',
 'Boston_0063c552324c8d1c.csv.csv',
 'Boston_00cdef6a5dc7858a.csv.csv',
 'Boston_011e67a27389629e.csv.csv',
 'Boston_018d476f42e71c40.csv.csv',
 'Boston_018f86485ca7b2e5.csv.csv',
 'Boston_01b547d825605508.csv.csv',
 'Boston_01d0b46e27480ef3.csv.csv',
 'Boston_0868e68c72234224.csv.csv',
 'Boston_1adf1fc2d8327447.csv.csv',
 'Boston_33f91bef2fc69db5.csv.csv',
 'Boston_3d75321abab23260.csv.csv',
 'Boston_67b98f17fdcf20be.csv.csv',
 'Boston_76556a18029c6041.csv.csv',
 'Boston_78e6fc8277991597.csv.csv',
 'Boston_7bfac3ba3fce2612.csv.csv',
 'Boston_804afbcaebd83cd2.csv.csv',
 'Boston_e7069cc50d9e4475.csv.csv',
 'Cologne_15342c970072f97c.csv.csv',
 'Cologne_3a3ce63e6bc48d30.csv.csv',
 'Cologne_8abc99434d4f5d28.csv.csv',
 'Cologne_e4027cca2005a74a.csv.csv',
 'Melbourne_01864a8a64df9dc4.csv.csv',
 'Melbourne_220559ad99725b34.csv.csv',
 'Melbourne_468dfd021f8e5585.csv.csv',
 'Melbourne_4b0856b14b671704.csv.csv',
 'Melbourne_74a9b3383262e5de.csv.csv',
 'Melbourne_783c976f99955863.csv.csv',
 'Melbourne_c89a73867b325503.csv.csv',
 'Melbourne_d970e7fd69eaf4ec.csv.csv',
 'Melbourne_e49edeea1a3526b1.csv.csv',
 'Munich_37439688c6302728.csv.csv',
 'Munich_44f220aa2901072d.csv.csv',
 'Munich_67b271cd78f8ad77.csv.csv',
 'Osaka_0c73b7318c91672a.csv.csv',
 'Osaka_0da0e1224e17cd1d.csv.csv',
 'Osaka_1a1b6836a02ec33b.csv.csv',
 'Osaka_1fe367b63a6d6a01.csv.csv',
 'Osaka_29f10afb1f6ba4fc.csv.csv',
 'Osaka_2dc6b605f2b2b8f5.csv.csv',
 'Osaka_3e19cd9d7fa09d25.csv.csv',
 'Osaka_458a6025420d1485.csv.csv',
 'Osaka_4d1f7bf488219a63.csv.csv',
 'Osaka_5692bf153441ca54.csv.csv',
 'Osaka_744504fd6fdba804.csv.csv',
 'Osaka_74fad2166ae8b8e6.csv.csv',
 'Osaka_7841d79816bdc233.csv.csv',
 'Osaka_b96175ce18b4d82a.csv.csv',
 'Osaka_ced8ba75c5b7d488.csv.csv',
 'Osaka_d356a539c03bab17.csv.csv',
 'Osaka_e57c02df87d01fec.csv.csv',
 'Osaka_e77d4ce957dbc0cd.csv.csv',
 'Osaka_e91888d5c8ff9cce.csv.csv',
 'Osaka_fd6f7fb41904eb10.csv.csv',
 'Oslo_0171338247dcb0a5.csv.csv',
 'Oslo_01c689d618d8c2a7.csv.csv',
 'Oslo_306cf2a1e7666cd2.csv.csv',
 'Oslo_4901db01c2c7792f.csv.csv',
 'Oslo_653176f5ac2ef011.csv.csv',
 'Oslo_e42ed02b50d62e29.csv.csv',
 'Phoenix_00185aa81d419d53.csv.csv',
 'Phoenix_00f65b8ae8433d6f.csv.csv',
 'Phoenix_1b701185043ebf94.csv.csv',
 'Phoenix_4be92bcdb7106ede.csv.csv',
 'Phoenix_5c62ffb0f0f3479d.csv.csv',
 'Phoenix_61cd148fef929fbd.csv.csv',
 'Phoenix_6afb88feadd10a84.csv.csv',
 'San Antonio_3df4f427b5a60fea.csv.csv',
 'San Antonio_5a110d312052166f.csv.csv',
 'San Antonio_a592bd6ceb1319f7.csv.csv',
 'Singapore_2509b9adc1fedfd2.csv.csv']

In [3]:
import pandas as pd
frames=[]
for i in onlyfiles:
    df=pd.read_csv(i)
    frames.append(df)
resulting_data=pd.concat(frames)

In [4]:
resulting_data.head()

,Unnamed: 0,tweet_id,created_at,tweet_text,likes_count,retweet_count,language,hashtags,country,city
0,0,1199168583223234562,Tue Nov 26 03:30:44 +0000 2019,@IndoorVacation Hang in there! https://t.co/qk...,0,0,en,[],United States,Boston Harbor
1,1,1199165098121560064,Tue Nov 26 03:16:53 +0000 2019,@KellyNo42783487 One of my favorites!,0,0,en,[],United States,Boston Harbor
2,2,1199118159719976960,Tue Nov 26 00:10:22 +0000 2019,@library_parker @aredd21 Oh dear. That feather...,3,0,en,"[{'text': 'rightdecade', 'indices': [69, 81]},...",United States,Boston Harbor
3,3,1199109312464900097,Mon Nov 25 23:35:13 +0000 2019,Reflecting on life’s blessings. @ Boston Harbo...,3,0,en,[],United States,Boston Harbor
4,4,1199048092634337280,Mon Nov 25 19:31:57 +0000 2019,"@russellcrowe Ok, who among us read the warnin...",0,0,en,[],United States,Boston Harbor

In [7]:
len(resulting_data)

481982

In [6]:
resulting_data.to_csv("Dinesh_Tweets.csv")